* {
    padding: 0;
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

body {
    font-family: Helvetica;
    font-size: 12px;
}

header {
    background-color: black;
    height: 50px;
    padding: 0px 20px;
    font-size: 0;
    text-align: justify;
}

header:after {
    content: '';
    display: inline-block;
    width: 100%;
}

header div.header_title {
    color: white;
    font-weight: 300;
    display:inline-block;
    height:100%;
    line-height: 50px;
    font-size: 30px;
}

header div.header_title:before {
    content: "\f0e7";
    font-family: FontAwesome;
    position: relative;
    font-size: 30px;
    color: white;
}

header div.header_menu {
    display: inline-block;
    font-size: 12px;
    color: white;
}

header div.header_menu a.cart {
    font-size: 30px;
    cursor: pointer;
    position: relative;
    font-color: white;
}

header div.header_menu a.cart:visited {
    color:white;
}

footer {
    height:100px;
}

.notification_bubble {
    position:absolute;
    top: -5px;
    right:-6px;
    padding:1px 2px 1px 2px;
    background-color:red;
    color:white;
    font-weight:bold;
    font-size:0.45em;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

div.content {
    max-width: 960px;
    margin: 20px auto;
    padding: 0px 20px;
}

.book {
    display: inline-block;
    padding-top: 10px;
    margin: 5px;
    border: 1px solid grey;
    cursor: pointer;
    position: relative;
    width:280px;
    text-align: center;
}

.book:after {
    content: "\f217";
    font-family: FontAwesome;
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    text-align: center;
    line-height: 450px;
    font-size: 40px;
    color: white;
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.book:hover:after {
    opacity: 1;
}

.book img {
    width:260px;
}

.book .description {
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.book .price {
    text-align: center;
    display: block;
    background-color: #2B2BC3;
    color: white;
    font-size:16px;
    font-weight:600;
    padding: 5px;
}

div.empty_cart {
    text-align:center;
    width:100%;
    font-style: italic;
    font-size:20px;
}

div.item {
    position:relative;
}

div.item:nth-child(even) {
    background: #E8E8E8;
}

div.item img {
    height:150px;
}

div.total, div.item, div.final_price {
    text-align: justify;
    font-size: 0px;
    padding: 10px;    
}

div.total:after, div.item:after, div.final_price:after {
    content: '';
    display: inline-block;
    width: 100%;
}

div.total h2, div.item .description, div.final_price h2 {
    display:inline-block;
    font-size: 16px;
    vertical-align: middle;
}

div.item .description span, div.item .description img, div.final_price span{
    vertical-align: middle;
    display:inline-block;
}

div.total span, div.item .price {
    display:inline-block;
    font-size:18px;
    font-weight:600;
    vertical-align: middle;
}

div.item .remove_item {
    position:absolute;
    font-size:20px;
    cursor:pointer;
    right: 5px;
    top: 5px;
}

div.buy {
    color:red;
    float:right;
    width:100px;
    color:white;
    background-color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius:10px;
    text-align:center;
    padding: 10px;
    margin-top: 20px;
}

div.offer {
    background-color:#dff0d8; 
    color:#3c763d;
    padding: 20px 0px 20px 20px;
}

div.offer h2 {
    text-align: center;
}

div.final_price span {
    font-size: 18px;
    font-weight:600;
}